

body {
  font: 12px "Helvetica Neue",Helvetica,Arial,sans-serif;
}

h2 {
  background-color: rgba(20, 20, 20, 0.3);
  padding: 20px;
}

h3 {
  background-color: rgba(20, 20, 20, 0.2);
  padding: 20px;
}

.clear{clear:both;}

.example, .uses, .example pre, .uses pre, .css, .html, .dart {
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 4px 4px 4px 4px;
  display: block;
  margin: 15px;
  padding: 10px 10px;
  position: relative;
}

.example, .uses {
  padding: 38px 10px 10px;
  width:auto;
}


.css, .html, .dart {
  float:left;
  /*padding: 38px 9.5px 9.5px;*/
  padding: 38px 1% 1%;
  margin: 15px 1%;
  width: 25%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.dart {
  width: 35%;
}
  
div.example:after, div.uses:after, div.css:after, div.html:after, div.dart:after{
  background-color: #F5F5F5;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 4px 0 4px 0;
  color: #9DA0A4;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: bold;
  left: -1px;
  padding: 3px 7px;
  position: absolute;
  top: -1px;  
}

div.example:after {
  content: "Example";
  
}

div.uses:after {
  content: "Uses";
}

div.css:after {
  content: "CSS";
}

div.html:after {
  content: "HTML";
}

div.dart:after {
  content: "Dart";
}